.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "sidebar header header header"
    "sidebar body body body"
    "sidebar body body body"
    "sidebar box box box"
    "sidebar footer footer footer" 
  ;
}

.sidebar {
  /* background-color: silver; */
  grid-area: sidebar;
  text-align: center;
  width: 175px;
}

.header {
  background-color: red;
  grid-area: header;
  height: 150px;
  text-align: center;
}

.body {
  background-color: yellow;
  grid-area: body;
}

.box {
  background-color: green;
  grid-area: box;
}

.footer {
  background-color: purple;
  grid-area: footer;
}

li {
  list-style: none;
}

.bodyTopContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 15px;
}

.bodyTopContainer p {
  text-align: center;

}

.bodyTopContainer img {
  height: 350px;
  width: 450px;
}

.bodyBox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 350px;
  text-align: center;
}

.bodyBox img {
  height: 150px;
  width: 150px;
  padding:5px;
  padding-top: 15px;
}

.bodyBox p {
  max-height: 250px;
  max-width: 200px;
}

.bodyBoxContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

h1 {
  text-align: center;
}

ul {
  padding: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.footer p {
  padding-left: 125px;
  padding-right: 125px;
}

button {
  padding: 5px;
  width: 75px;
  margin: 3px;
  border: 1px solid white;
  background-color: rgba(0,0,0,0.1);
  color: white;
  opacity: .5;
}

button:hover {
  cursor: pointer;
  opacity: 1;
}

img {
  cursor: pointer;
}